<p style="color: green"><%= notice %></p>

<h1>Election Results</h1>

<div id="votes">
  <%
    # TODO: This is a temporary implementation to help validate that votes are being recorded correctly.
    # Ensure this is updated to provide only a summary of votes by candidate before launch!
  %>
  <table id="votes_raw">
    <tr>
      <th>Candidate</th>
      <th>Votes</th>
    </tr>
    <% @votes.each do |candidate_name, vote_count| %>
      <tr>
        <td><%= candidate_name %></td>
        <td><%= vote_count %></td>
      </tr>
    <% end %>
  </table>
</div>

<% if caching_enabled? %>
  <p> <small>Note: results are updated every 10 votes</small> </p>
<% else %>
  <p> <small>Note: cache is disabled, results are shown in real time</small> </p>
<% end %>
