<div style="text-align: right; float: right;" id="logout_timer" data-logout-at="<%= session_expires_at.iso8601 %>"></div>
<h1>Cast your vote today!</h1>

<% if @candidates.any? %>
  <%= render "votes/existing_candidate_form", vote: @vote, write_in_candidate: @write_in_candidate  %>
  <hr/>
<% else %>
  <p>
    No candidates advanced yet, please write in your candidate below:
  </p>
<% end %>

<% if @candidates.any? && @candidates.size < @max_candidates %>
  <p>Or, add a new candidate:</p>
<% end %>

<% if @candidates.size < @max_candidates %>
  <%= render "votes/write_in_candidate_form", vote: @vote, write_in_candidate: @write_in_candidate  %>
<% else %>
  <p>Maximum candidates reached. Please select an existing candidate above.</p>
<% end %>

<script language="JavaScript">
  const logout_timer_element = document.getElementById('logout_timer')
  const logout_time = Date.parse(logout_timer_element.dataset.logoutAt)

  const update_logout_clock = function() {
    const timeinterval = setInterval(() => {
      const delta_time = logout_time - Date.parse(new Date);


      if (delta_time <= 0) {
        clearInterval(timeinterval);
        document.getElementById('signout_button').click()
      } else {
        const seconds = Math.floor( (delta_time/1000) % 60 );
        const minutes = Math.floor( (delta_time/1000/60) % 60 );

        logout_timer_element.innerHTML = minutes + ':' + seconds + ' remaining'
      }
    },1000);
  }

  update_logout_clock();
</script>

